/*** 

====================================================================
    Clients Section
====================================================================

***/

.clients-section{
    position: relative;
    background-color: #f6f5f0;
    z-index: 1;
    padding: 100px 0px;

    .text{
        color: var(--Secondary, #1A1A1A);
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.clients-section .icon-leaf{
    position: absolute;
    background-image: url(../images/icons/leaf.png);
    background-size: cover;
    &.leaf-1{
        left: -150px;
        bottom: 50px;
        height: 50px;
        width: 46px;
        animation: fa-spin 10s infinite linear;
    }
    &.leaf-2 {
        left: -280px;
        top: 20px;
        height: 76px;
        width: 70px;
        animation: fa-spin 20s infinite linear;
    }
    &.leaf-3 {
        right: -260px;
        top: -45px;
        height: 121px;
        width: 112px;
        animation: fa-spin 30s infinite linear;
    }
}

.sponsors-outer{
    position: relative;
    padding: 50px 0;
}

.clients-carousel .slide-item{
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
}

.clients-carousel .slide-item a{
    position: relative;
}

.clients-carousel .slide-item img{
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
    transition: all 0.3s ease;
}


.clients-carousel .owl-nav,
.clients-carousel .owl-dots{
    display: none;
}

.clients-section.style-two{
    background-color: #ffffff;
    .icon-leaf {
        &.leaf-1 {
            left: -130px;
            top: -50px;
            height: 105px;
            width: 97px;
            opacity: .5;
            animation: fa-spin 10s infinite linear;
        }
    }
}