/*** 

====================================================================
Contact Section
====================================================================

***/

.contact-section {
    position: relative;
    padding: 120px 0;
    margin-top: 76px;
    background-color: #ffffff;
    z-index: 1;
    &:before{
        @include overlay;
        @include background;
        background-image: url(../images/icons/shape-5.png);
        max-height: 16px;
        content: "";
        top: -16px;
    }
}

.contact-section .main-bg{
    @include overlay;
    max-height: 760px;
    pointer-events: none;
    .bg-image{
        @include overlay;
        &::before{
            @include overlay;
            background-color: var(--bg-theme-color1);
            opacity: .94;
            content: "";
        }
    }
    .bg-pattern {
        @include overlay;
        @include background;
        max-height: 340px;
        top: auto;
        bottom: -120px;
        background-image: url(../images/icons/pattern-7.png);
    }
}

.contact-section .outer-box{
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .10);
    border-radius: 10px;
    overflow: hidden;
}

.contact-section .form-column {
    position: relative;
    .inner-column{
        position: relative;
        padding: 80px 80px;
        margin-right: -40px;
        overflow: hidden;
        &:before {
            position: absolute;
            right: -30px;
            bottom: -100px;
            height: 234px;
            width: 238px;
            @include background;
            background-image: url(../images/icons/shape-4.png);
            content: "";
        }
    }
}

.contact-form {
    position: relative;
}

.contact-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

.contact-form .form-group label {
    font-size: 16px;
    line-height: 21px;
    color: #1B212F;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}

.contact-form .form-group:last-child {
    margin-bottom: 0;
}

.contact-form .form-group input,
.contact-form .form-group textarea,
.contact-form .form-group select {
    position: relative;
    display: block;
    height: 53px;
    width: 100%;
    font-size: 14px;
    color: var(--theme-color1);
    line-height: 23px;
    font-weight: 500;
    padding: 14px 30px;
    background-color: #f6f5f0;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 300ms ease;
}

.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus{
    border-color: var(--border-theme-color2);
}

.contact-form .form-group textarea {
    height: 135px;
    resize: none;
}

.contact-form .form-group input[type="submit"],
.contact-form .form-group button {
    text-transform: uppercase;
    padding: 11px 60px;
    letter-spacing: .1em;
}

.contact-form label.error {
    display: block;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 24px;
    color: #ff0000;
    margin-bottom: 0;
}

.contact-section .image-column .image{
    padding-left: 40px;
    margin-bottom: 0;
    height: 100%;
    &:before{
        position: absolute;
        top: 60px;
        bottom: 60px;
        background-color: var(--bg-theme-color3);
        content: "";
        width: 20px;
        border-radius: 0 10px 10px 0;
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}







/*** 

====================================================================
    Contect Section
====================================================================

***/

.contect-section-one {
    position: relative;
    padding: 120px 0 90px;
    overflow: hidden;
    border-radius: 24px;
    background: #F6F8FA;
    margin-top: 20px;
    &:before{
        position: absolute;
        left:0;
        top: -140px;
        height: 100%;
        width: 100%;
        background-image: url(../images/icons/pattern-5.png);
        background-repeat: no-repeat;
        background-position: center top;
        content: "";
    }
    &.alternate:before{
        display: none;
    }
    .owl-nav {
        position: absolute;
        top: 40%;
        display: flex;
        justify-content: space-between;
        .owl-prev,.owl-next{
            width: 70px;
            height: 46px;
            flex-shrink: 0;
            border-radius: 30px;
            border: 1px solid var(--Secondary, #1A1A1A);
            background: var(--Bg-1, #F9F9FB);
            text-align: center;
            line-height: 46px;
            transition: all 300ms ease;
            &:hover{
                background-color: #fff;
                border-color: #fff;
            }
        }
        .owl-prev{
            position: relative;
            right: 125px;        
        }
        .owl-next{
            position: relative;
            left: 125px;        
        }
    }
}

.news-block {
    position: relative;
    margin-bottom: 30px;
}

.news-block .inner-box {
    position: relative;
    background-color: #ffffff;
    border-bottom:3px solid transparent;
    border-radius: 10px;
    transition: all 300ms ease;
    padding: 9px;
    width: 432px;
    &.style-two{
        width: 100%;
    }
}

.news-block {
    .date{
        position: absolute;
        top: 29px;
        left: 29px;
        color: var(--White, #FFF);
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 120px;
        background: var(--Fourth, #1F4B43);
        display: flex;
        padding: 12px 15px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: 1;
    }
    .date-two{
        position: absolute;
        top: 29px;
        left: 126px;
        color: var(--Secondary, #1A1A1A);
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 120px;
        background: var(--Primary, #E7C873);
        padding: 12px 15px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: 1;
    }
}


.news-block .image-box {
    position: relative;
}

.news-block .image {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
}

.news-block .image-box .image a:after {
    background: rgba(255, 255, 255, .3);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 51%;
    top: 0;
    opacity: 1;
    pointer-events: none;
    transition: all 400ms linear;
}

.news-block .inner-box:hover .image-box .image a:after {
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 400ms linear;
}

.news-block .image img {
    display: block;
    border-radius: 10px 10px 0 0;
    width: 100%;
    transition: all 400ms ease;
}

.news-block .inner-box:hover .image img {
    transform: scale(1.1);
}

.news-block .lower-content {
    position: relative;
    padding: 20px 20px;
    .info{
        display: flex;
        justify-content: space-between;
        span{
            color: var(--Third, #EB664E);
            text-align: right;
            font-size: 21px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
}

.news-block .post-info {
    position: relative;
    background-color: #ffffff;
    display: inline-flex;
    flex-wrap: wrap;
}

.news-block .post-info li {
    position: relative;
    font-size: 14px;
    line-height: 25px;
    color: #819291;
    font-weight: 400;
    margin-right: 15px;
    margin-bottom: 10px;
    display: flex;
}

.news-block .post-info li img {
    margin-right: 5px;
    color: var(--theme-color3);
    font-size: 14px;
    width: 20px;
}

.news-block h4 {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 1.4em;
    color: var(--theme-color1);
    font-weight: 700;
}

.news-block h4 a {
    color: var(--theme-color1);
    display: inline-block;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.news-block h4 a:hover {
    color: var(--theme-color2);
}

.news-block .theme-btn{
	width: 100%;
	text-transform: uppercase;
}

.news-block .author {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 32px;
    margin-top: 3px;
    margin-bottom: 20px;
}

.news-block .author .thumb {
    margin-bottom: 0;
    margin-right: 6px;
}