/*** 

====================================================================
		FAQ's Sectiom
====================================================================

***/

.faqs-section {
    position: relative;
    padding: 120px 0 70px;
    .bg-pattern-left{
        position: absolute;
        right: 100%;
        top: 0;
        height: 100%;
        width: 620px;
        margin-right: -240px;
        background-image: url(../images/icons/pattern-2.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }
    .bg-pattern-right {
        position: absolute;
        left: 100%;
        top: 75px;
        height: 100%;
        width: 620px;
        margin-right: -240px;
        background-image: url(../images/icons/pattern-3.png);
        background-repeat: no-repeat;
        background-position: center left;
    }
}

.faqs-section .faq-column {
    position: relative;
    margin-bottom: 50px;
    .inner-column {
        position: relative;
        padding-left: 70px;
    }
}


.accordion-box {
    position: relative;
}

.accordion-box .block {
    position: relative;
    background-color: #f6f5f0;
    border-radius: 10px;
    margin-bottom: 10px;
    .acc-btn {
        position: relative;
        font-size: 20px;
        line-height: 34px;
        color: var(--theme-color1);
        font-weight: 600;
        cursor: pointer;
        padding: 20px 40px;
        padding-right: 70px;
        border-radius: 10px;
        letter-spacing: -.04em;
        transition: all 500ms ease;
        .icon {
            position: absolute;
            right: 18px;
            top: 18px;
            height: 38px;
            width: 38px;
            font-size: 16px;
            line-height: 38px;
            color: #ffffff;
            border-radius: 50%;
            background-color: var(--bg-theme-color1);
            text-align: center;
            transition: all 500ms ease;
        }
        &.active .icon {
            color: #ffffff;
            background-color: var(--bg-theme-color3);
            &:before {
                content: "\f107";
            }
        }
    }
}



.accordion-box .block .acc-content {
    position: relative;
    display: none;
    .content {
        position: relative;
        padding: 0px 40px 25px;
        .text {
            display: block;
            font-size: 16px;
            line-height: 30px;
            color: #819291;
            margin-bottom: 0;
        }
    }
    &.current {
        display: block;
    }
}


.faqs-section .image-column {
    position: relative;
    margin-bottom: 50px;
    .inner-column{
        height: 100%;
    }
    .image {
        position: relative;
        margin-bottom: 0;
        height: 100%;
        &:before{
            position: absolute;
            right: 0;
            margin-right: -20px;
            top: 50px;
            bottom: 50px;
            width: 20px;
            border-radius: 0 10px 10px 0;
            background-color: var(--bg-theme-color3);
            content: "";
            z-index: 1;
        }
        img {
            max-width: 100%;
            border-radius: 10px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
}