/*** 

====================================================================
	Features Section
====================================================================

***/

.features-section {
    position: relative;
    border-radius: 24px;
    background: var(--Primary, #E7C873);
    padding: 120px 0px;
    z-index: 2;
}

.features-section .large-container {
    max-width: 1630px;
}

.feature-block {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.feature-block .inner {
    position: relative;
    text-align: center;
    &:hover .icon:after {
        opacity: 1
    }
    &:hover .icon:before{
        transform: scale(-1) rotate(180deg);
    }
    &:hover .icon {
        color: var(--theme-color2);
    }
}

.feature-block .icon {
    position: relative;
    text-align: center;
    display: block;
    padding-top: 50px;
    font-size: 40px;
    line-height: 1em;
    color: #000;
    padding-bottom: 20px;
    margin: 0 auto;
}

.feature-block h5 {
    color: var(--Secondary, #1A1A1A);
    font-size: 19px;
    font-style: normal;
    line-height: 28px; /* 147.368% */
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    transition: all 300ms ease;
}

.feature-block .text {
    color: var(--Secondary, #1A1A1A);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
}