
/*** 

====================================================================
    Fun Fact Section
====================================================================

***/

.fun-fact-section{
    position: relative;
    padding: 180px 0 70px;
    border-radius: 24px;
    background: var(--Fourth, #1F4B43);
    .image-layer {
        position: absolute;
        bottom: 0;
    }

    .image-column{
        .image-box{
            position: relative;
            margin-right: 47px;
            img{
                border-radius: 10px;
            }
            .info-box{
                position: absolute;
                top: 17px;
                left: 17px;            
                border-radius: 16px;
                background: var(--White, #FFF);
                padding: 0px 49px 29px 94px;
                align-items: center;
                gap: 20px;
                height: 106px;            
                img{
                    position: absolute;
                    left: 17px;
                    top: 26px;
                    width: 60px;
                    height: 60px;
                    flex-shrink: 0;
                    background-color: rgba(231, 200, 115, 0.20);
                    border-radius: 50%;
                    object-fit: none;
                }
                h4{
                    line-height: 20px;
                }
                
            }
        }
    }
}

//Counter BLock
.counter-block {
    position: relative;
    margin-bottom: 30px;
    .inner {
        position: relative;
        text-align: center;
        padding: 50px 87px 50px 0px;
        transition: all 200ms linear;
    }
    .count-box {
        color: var(--Primary, #E7C873);
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 2px;
    }
    .counter-title {
        color: var(--White, #FFF);
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        text-transform: capitalize;
    }
}