
/*** 

====================================================================
    News Section
====================================================================

***/

.news-section-two {
    position: relative;
    padding: 120px 0 90px;
    overflow: hidden;
    border-radius: 24px;
    background: #F6F8FA;
    &:before{
        position: absolute;
        left:0;
        top: -140px;
        height: 100%;
        width: 100%;
        background-image: url(../images/icons/pattern-5.png);
        background-repeat: no-repeat;
        background-position: center top;
        content: "";
    }
    &.alternate:before{
        display: none;
    }
}

.news-block-two {
    position: relative;
    margin-bottom: 30px;

}

.news-block-two { 
    .inner-box {
        position: relative;
        border-bottom:3px solid transparent;
        border-radius: 10px;
        transition: all 300ms ease;
        box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
    &.style-two{
        width: 100%;
        background-color: unset;
        box-shadow: unset;
      }
   }  
}


.news-block-two .image-box {
    position: relative;
}

.news-block-two .image {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
}

.news-block-two .image-box .image a:after {
    background: rgba(255, 255, 255, .3);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 51%;
    top: 0;
    opacity: 1;
    pointer-events: none;
    transition: all 400ms linear;
}

.news-block-two .inner-box:hover .image-box .image a:after {
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 400ms linear;
}

.news-block-two .image img {
    display: block;
    border-radius: 10px 10px 0 0;
    width: 100%;
    transition: all 400ms ease;
}

.news-block-two .inner-box:hover .image img {
    transform: scale(1.1);
}

.news-block-two .lower-content {
    position: relative;
    padding: 20px 20px 0px;
    text-align: center;
    h6{
        margin-bottom: 13px;
        margin-top: 4px;
        a{
            color: var(--Secondary, #1A1A1A);
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px; /* 164.706% */
        }
    }
    .info{
        display: flex;
        justify-content: space-between;
        span{
            color: var(--Third, #EB664E);
            text-align: right;
            font-size: 21px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
    .author{
        position: relative;
        display: flex;
        align-items: center;
        min-height: 32px;
        margin-top: 3px;
        margin-bottom: 20px;
        .thumb {
            margin-bottom: 0;
            margin-right: 6px;
        }
        .text-center{
            margin: 0 auto;
            a{
                color: var(--Secondary, #1A1A1A);
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}

.news-block-two .post-info {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    li.dotts{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            background-color: #1A1A1A;
            border-radius: 50%;
            right: -10px;
            top: 14px;        
        }
    }
}

.news-block-two .post-info li {
    position: relative;
    color: var(--Text, #3D3E3F);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    margin-right: 15px;
    margin-bottom: 10px;

}

.news-block-two .post-info li i {
    margin-right: 5px;
    color: var(--theme-color3);
    font-size: 14px;
}

.news-block-two h4 {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 1.4em;
    color: var(--theme-color1);
    font-weight: 700;
}

.news-block-two h4 a {
    color: var(--theme-color1);
    display: inline-block;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.news-block-two h4 a:hover {
    color: var(--theme-color2);
}

.news-block-two .theme-btn{
	width: 100%;
	text-transform: uppercase;
}
