

/*** 

====================================================================
project section three
====================================================================

***/

.project-section-three{
    position: relative;
    padding: 120px 0 90px;
    background: var(--gray-100, var(--theme-color-gray));
    .sec-title{
        .sub-title {
            padding-left: 0;
            &::after {display: none;}
        }
    }
}

// project-block-three
.project-block-three{
    margin-bottom: 4px;
    .inner-box{
        position: relative;
        overflow: hidden;
        &:hover{
            .image-box{
                .image{
                    img{
                        transition: all 300ms ease;
                    }
                }
            }
            .read-more{
                opacity: 1;
                visibility: visible;
            }
        }
        .content-box{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            padding: 29px 30px 25px;
            border-radius: 0px 0px 5px 5px;
            background: var(--theme-color-dark);
            transition: all 300ms ease;
            z-index: 10;
            .sub-title{
                color: var(--White, #FFF);
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 186.667% */
            }
            .title{
                color: var(--White, #FFF);
                font-size: 21px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px; /* 142.857% */
            }
        }
        .read-more{
            position: absolute;
            left: 29px;
            bottom: 48px;        
            width: 50px;
            height: 50px;
            flex-shrink: 0;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all 300ms ease;
            &:hover {
                background-color: var(--theme-color-dark);
                color: var(--theme-color-light);
        }
        .image-box{
            display: inline-block;
            .image{
                overflow: hidden;
                display: inline-block;
                position: relative;
                transition: all 300ms ease;
                img{
                    width: 100%;
                    transition: all 300ms ease;
                }
            }
                i{
                    position: relative;
                }
            }
        }
    }
}






/*** 

====================================================================
properties-section
====================================================================

***/

.properties-section{
    position: relative;
    padding: 120px 0 90px;


    .info-bx {
        position: relative;
        top: 9px;
        left: 11px;
    }
    
    



    .image-column-one{
        position: relative;
        .slid{
            height: 357px;
        }
        .image-box{
            img{
                border-radius: 10px;
            }
        }

        .info-box{
            position: relative;
            width: 329px;
            height: 335px;
            flex-shrink: 0;
            border-radius: 16px;
            background: var(--Secondary, #1A1A1A);
            padding: 40px 40px 140px;
            margin-top: -43px;
            h2{
                color: var(--White, #FFF);
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: 36px;
            }
            span{
                display: flex;
                width: 249px;
                flex-direction: column;
                align-items: flex-start;
                gap: 50px;
                margin-bottom: 50px;
                color: #ffff;
            }
            .text{
                color: var(--White, #FFF);
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 186.667% */
            }

            .read-more {
                position: absolute;
                right: 36px;
                bottom: 33px;
                width: 50px;
                height: 50px;
                flex-shrink: 0;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 300ms ease;
            }
        }
        .info-box-two{
            position: relative;
            width: 329px;
            height: 335px;
            flex-shrink: 0;
            margin-top: -43px;
            img{
                border-radius: 10px;
                position: relative;
            }
            .play-btn{
                width: 70px;
                height: 70px;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                backdrop-filter: blur(5px);
                position: absolute;
                background: rgba(26, 26, 26, 0.2);
                z-index: 1;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 40%;
                left: 50%;
                transform: translateX(-50%);
                transition: all 300ms ease;
                &:hover{
                    background-color: #1F4B43;
                    color: #fff;
                }
            
            }
        }
        .owl-nav {
            position: relative;
            bottom: 200px;
            display: flex;
            justify-content: space-between;
            .owl-prev,.owl-next{
                width: 70px;
                height: 46px;
                flex-shrink: 0;
                border-radius: 30px;
                background-color: #1a1a1a91;
                color: #fff;
                text-align: center;
                line-height: 46px;
            }
            .owl-prev{
                position: relative;
                right: -20px;        
            }
            .owl-next{
                position: relative;
                left: -20px;        
            }
        }
    }

    .image-column{
        position: relative;
        .news-block {
            .inner-box{
                padding: 0px;
                .read-more {
                    position: absolute;
                    right: 36px;
                    bottom: 33px;
                    width: 50px;
                    height: 50px;
                    flex-shrink: 0;
                    background-color: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 300ms ease;
                    z-index: 1;
                }
                .lower-content {
                    position: absolute;
                    bottom: 25px;
                    left: 38px;
                    z-index: 99;
                    .post-info{
                        background-color: unset;
                        li{
                            color: #ffff;
                            span{
                                color: var(--White, #FFF);
                                margin-right: 60px;
                                font-size: 21px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                            }
                        }
                    }
                    .info{
                        h5{
                            color: var(--White, #FFF);
                            font-size: 26px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 36px; /* 138.462% */
                        }
                    }
                    .author{
                        h5{
                            color: var(--White, #FFF);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                        }
                    }
                }
                .image-box{
                    position: relative;
                    .image{
                        position: relative;
                        &:before {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 100%;
                            width: 100%;
                            background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, rgba(26, 26, 26, 0.10) 61.39%, rgba(26, 26, 26, 0.80) 100%);
                            content: "";
                            pointer-events: none;
                            z-index: 1;
                            -webkit-transition: all 400ms ease;
                            transition: all 400ms ease;
                            border-radius: 10px;
                        }
                    }
                    img{
                        border-radius: 10px;
                        height: 694px;
                    }
                }
            }
        }
    }
}




