
/*** 

====================================================================
    Services Section
====================================================================

***/

.services-section{
    position: relative;

}

.services-section .auto-container{
    max-width: 1280px;
}

.services-section .outer-box{
    position:relative;
    padding: 60px 60px;
    background-color: #fff;
    border-radius: 10px;
}

.services-section.pull-up .outer-box {
    margin-top: -60px;
}

.service-block{
    position: relative;
}

.service-block .inner-box {
    position: relative;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 45px;
    overflow: hidden;
    &:hover .overlay-content .icon:before{
        transform: scale(-1) rotate(180deg);
    }
    &:hover .overlay-content{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    &:hover .content {
        opacity: 0;
        visibility: hidden;
    }
    &:hover .image img{
        transform: scale(1.1);
    }
}

.service-block .image{
    position: relative;
    margin-bottom: 0;
    border-radius: 10px;
    overflow: hidden;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        background: linear-gradient(to bottom, rgba(153, 153, 153, 0) 0%, var(--theme-color1) 100%);
        border-radius: 10px;
        z-index: 1;
    }
    img{
        display: block;
        border-radius: 10px;
        width: 100%;
        transition: all 300ms ease;
    }
}

.service-block h4 {
    font-size: 24px;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;

    a {
        color: #fff;
        transition: all 300ms ease;
        &:hover {
            color: var(--theme-color2);
        }
    }
}

.service-block .icon {
    display: inline-flex;
    height: 90px;
    width: 90px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 48px;
    background-color: var(--bg-theme-color2);
    border-radius: 50%;
    &:before {
        transition: all 300ms ease;
    }
}

.service-block .text{
    color: rgba(255, 255, 255, .70);
    font-size: 14px;
    line-height: 24px;
}

.service-block .content{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 200ms ease;
}


.service-block .overlay-content{
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--bg-theme-color1);
    z-index: 1;
    padding: 0 35px 35px;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ease;
    transform: translateY(100%);
    .icon{
        position: relative;
        margin-top: -45px;
        background-color: var(--bg-theme-color3);
        margin-bottom: 20px;
    }
}
