/***

====================================================================
	Why ChoosE uS
====================================================================

***/
.why-choose-us {
    position: relative;
    overflow: hidden;
}

.why-choose-us .large-container{
    max-width: 1590px;
}

.why-choose-us .outer-box{
    position: relative;
    background-color: #f6f5f0;
    background-position: center 160px;
    background-repeat: no-repeat;
    min-height: 720px;
    border-radius: 10px;
    overflow: hidden;
    &:before{
        @include overlay;
        @include background;
        max-height: 250px;
        border-radius: 10px;
        background-image: url(../images/icons/shape-6.png);
        content: "";
        z-index: 8;
        pointer-events: none;
    }
    &:after{
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-image: url(../images/icons/pattern-8.png);
        content: "";
        z-index: 8;
        pointer-events: none;
    }
}

.why-choose-us .image-column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.why-choose-us .image-column .water{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    text-align: center;
}

.why-choose-us .image-column .image {
    position: relative;
    margin-bottom: 0;
    animation: float 5s infinite linear;
}

.feature-block-two {
    position: relative;
    margin-bottom: 80px;
}

.feature-block-two .inner-box {
    position: relative;
    padding-right: 160px;
    text-align: right;
}

.feature-block-two .icon-box {
    position: absolute;
    right: 30px;
    top: 0;
    text-align: center;
    transition: all 300ms ease;
}

.feature-block-two .icon-box .icon {
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    font-size: 62px;
    line-height: 50px;
    color: #ffffff;
    border-radius: 50%;
    @include flex-center;
    background-color: var(--bg-theme-color3);
    transition: all 300ms ease;
}

.feature-block-two .inner-box:hover .icon-box .icon {
    background-color: #ffffff;
    color: var(--theme-color3);
    box-shadow: 0 10px 20px rgba(0,0,0,.10);
}

.feature-block-two h4 {
    position: relative;
    display: block;
    font-size: 20px;
    color: var(--theme-color1);
    font-family: var(--sans-serif);
    font-weight: 800;
    margin-bottom: 10px;
}

.feature-block-two p {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #819291;
}

.why-choose-us .left-column,
.why-choose-us .right-column{
    padding-top: 280px;
}

.why-choose-us .left-column .inner-column,
.why-choose-us .right-column .inner-column{
    position: relative;
}

.why-choose-us .right-column .feature-block-two .inner-box {
    padding-left: 160px;
    padding-right: 0;
    text-align: left;
}

.why-choose-us .right-column .feature-block-two .icon-box {
    right: auto;
    left: 30px;
}

.why-choose-us .left-column .inner-column:before,
.why-choose-us .right-column .inner-column:before{
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: -50px;
    margin-top: -75px;
    @include background;
    height: 50px;
    width: 124px;
    background-image: url(../images/icons/arrow.png);
    z-index: 1;
    content: "";
}

.why-choose-us .right-column .inner-column:before {
    left: auto;
    right: 100%;
    margin-right: -50px;
    margin-left: 0;
    transform: scaleX(-1);
}